/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$base-color-title-primary: #000000;
$base-color-title-secondary: #ffffff;

$bg-basic-white: #ffffff;
$bg-basic-green: #68b738;
$bg-basic-grey: #f2f2f2;
