.developer__link {
  @include mask;
  display: block;
  width: 37px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#developer-logo-icon");
  mask-repeat: no-repeat;
  mask-position: center;
}
