.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $bg-base 57%, #eaeaea 57%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, $bg-base 29%, #eaeaea 29%);
  }
}

.example__wrapper {
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 15px 30px 101px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
    padding: 55px 0 75px;
  }
}

.example__text-wrapper {
  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__title {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }
}
