.main-product {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 1fr 14px auto 17px;
  grid-template-areas:
    "image title"
    "image ."
    "image settings"
    ". ."
    "button button";
  padding: 20px 0 25px;
}

.main-product__title-link {
  @include opacity;
  width: 76px;
}

.main-product__title {
  @include title("Oswald", 400, #222222);
  margin: 0;
  grid-area: title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-product__image-link {
  grid-area: image;
}

.main-product__image {
  display: block;
}

.main-product__button {
  grid-area: button;
}

.main-product--show-more {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../../icons/stack.svg#cross-icon");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center 25px;
}

.main-product__title--show-more {
  width: 280px;
  margin: 53px auto 8px;
  text-align: center;
  color: #111111;
}

.main-product__subtitle--show-more {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
}
