.main-header {
  padding: 13px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 25px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}

.main-header__logo-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
}

.main-header__navigation-toggle {
  margin-left: auto;
}

.main-header__logo .logo__caption {
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
  }
}
