.main-header {
  padding: 0 20px;
}

.main-header__logo-wrapper {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;
}

.main-header__navigation-toggle {
  margin-left: auto;
}

.main-header__logo .logo__caption {
  margin-left: 56px;
}
