.main-footer {
  background-color: $bg-secondary;
}

.main-footer__wrapper {
  padding: 41px 20px 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 52px 30px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
    padding: 63px 0;
  }
}

.main-footer__social-list {
  margin: 0 auto;
}

.main-footer__logo {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-right: 150px;
    padding: 10px 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 128px;
    height: 24px;
  }
}
