.page-title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $base-color-title-primary;
}

.page-title--secondary {
  color: $base-color-title-secondary;
  text-align: center;
}
