.product-settings {
  grid-area: settings;
  display: grid;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.product-settings__wrapper {
  display: flex;
  justify-content: space-between;
}

.product-settings__wrapper:last-child {
  margin-bottom: 4px;
}

.product-settings__definition {
  margin: 0;
  text-align: right;
}
