.subscribe-option {
  padding: 20px 20px 40px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $color-secondary;
}

.subscribe-option__title {
  margin-bottom: 32px;
}

.subscribe-option__description {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

.subscription__button {
  cursor: pointer;
}
