.subscription {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscription__input {
  @include title;
  @include input;
  padding: 13px;
  font-size: 20px;
  color: $color-base;
  text-transform: uppercase;
}
